[Unit]
Description=BTC Wallet Cracker
After=network.target

[Service]
RestartSec=5
WorkingDirectory=/home/deface/Bitcoin-Stealer/Linux
Type=simple
User=deface
ExecStart=/home/deface/.nvm/versions/node/v16.4.0/bin/node /home/deface/Bitcoin-Stealer/Linux/start.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
